body {
    box-sizing: border-box;
    font-family: Roboto;
    color: #363636;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

button {
    background: #fff;
    border: none;
}

section {
    overflow: auto;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
    clear: both;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 104px;
    border-bottom: 1px solid #d4d4d4;
}
.brand {
    width: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #d4d4d4;
}
.brand-logo {
    margin: 0 34px;
    width: 68px;
    height: auto;
}

.search {
    margin-left: 34px;
    margin-right: auto;
    padding-left: 38px;
    align-self: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    border: none;
    color: #A5A5A5;
    background: url('../img/search-icon.svg') no-repeat left  center;
    /* overflow: hidden; */
}

.search-icon {
    width: 16px;
    height: 16px;
    margin-right: 22px;
}

.search-input {
    border: none;
    height: 21px;
    width: 177px;
}

.navigation {
    display: flex;
    margin-right: 44px;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
}

.navigation-link {
    margin-left: 18px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #363636;
}

.navigation-link:first-of-type {
    margin-left: 0;
}

.button-group {
    display: flex;
    border-left: 1px solid #d4d4d4;
}

.button {
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
    
}


.mobile-menu {
    display: none;
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
}

.mobile-menu-search {
    width: 16px;
    height: 16px;
    padding: 0;
    margin-right: 30px;
    cursor: pointer;
    outline: none;
}


.mobile-menu-open {
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    outline: none;
}

.mobile-menu-line {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #000;
    border-radius: 40px;
}

.sign-up {
    padding: 0 34px;
    background: #ffffff;
    color: #5671F6;
}

.login {
    padding: 0 50px;
    background: #5671F6;
    color: #fff;
}






.film {
    padding: 80px 0;
    border-bottom: 1px solid #D4D4D4;
}

.film-group {
    display: flex;
}

.trailer {
    margin-right: 62px;
    display: flex;
    flex-direction: column;
}

.trailer-poster {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.trailer-play {
    padding: 25px 0;
    border: 1px solid #D4D4D4;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
}

.play-img {
    margin-right: 14px;
    vertical-align: middle;
}

.play-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #5671F6;
    vertical-align: middle;
    /* vertical-align: middle; */
}

.film-title {
    margin-top: 0;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
}

.film-subtitle {
    margin-top: 16px;
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #A5A5A5;
}

.film-description {
    max-width: 550px;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
}

.film-meta {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.left-side {
    margin-right: 40px;
}

.right-side {
    flex-grow: 1;
}

.film-meta-item {
    min-width: 250px;
    display: flex;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 19px;
}

.film-meta-title {
    display: inline-block;
    /* flex-basis: 100px; */
    min-width: 100px;
    margin-right: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px; 
}

.film-meta-content {
    flex-grow: 1;
}

.film-raiting {
    display: flex;
    justify-content: start;
}

.raiting-total {
    width: 100px;
    height: 100px;
    margin-right: 28px;
    border: 1px solid #5671F6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #5671F6;
}

.raiting-title {
    display: block;
    margin-top: 11px;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.raiting-more {
    display: block;
    margin-bottom: 7px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.raiting-more:last-of-type {
    margin-bottom: 0;
}

.raiting-bold {
    font-weight: bold;
}

.more {
    padding-top: 70px;
    padding-bottom: 100px;
}

.more-nav {
    margin-bottom: 60px;
}

.more-nav-item {
    margin-right: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #A5A5A5;
    text-decoration: none;
}

.more-nav-item.active {
    font-weight: 900;
    color: #363636;
}

.more-nav-item:last-of-type {
    margin-right: 0;
}

.more-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -35px;
}

.more-card {
    flex-basis: 235px;
    min-width: 250px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 35px;
}

.avatar {
    margin-right: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.actor-name {
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #5671F6;
}

.actor-name-en {
    font-size: 16px;
    line-height: 19px;
    color: #A5A5A5;
}

.footer {
    padding-top: 70px;
    padding-bottom: 100px;
    background: #F3F3F3;
}

.footer-title {
    margin-bottom: 65px;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.news-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-items: center;
    /* margin-top: -30px; */
}

.news-item {
    box-sizing: border-box;
    flex-basis: 260px;
    /* max-width: 260px; */
    margin-top: 30px;
    /* margin-right: 30px; */
    padding: 30px;
    background: #ffffff;
    border-radius: 5px;
}

.news-item:last-of-type {
    margin-right: 0;
}

.news-date {
    margin-bottom: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.news-content {
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}



@media only screen and  (max-width: 1199.98px) { 
    .container {
        max-width: 960px;
    }

    .header {
        height: 90px;
    }

    .navigation {
        margin-right: 22px;

    }

    .brand {
        width: 100px;
    }

    .header .button {
        padding: 0 25px;
    }

    .navigation-link {
        margin-left: 8px;
    }

    .film {
        padding-top: 30px;
        /* padding-bottom: 70px; */
    }

    .film-subtitle {
        margin-top: 12px;
    }
    .film-description {
        margin-bottom: 40px;
    }
    .film-meta  {
        margin-bottom: 40px;
    }
    .film-meta-item {
        margin-bottom: 16px;
    }

    .more-card {
        min-width: 50%;
    }

    .news-item {
        flex-basis: 46%;
    }
 }

 @media only screen and  (max-width: 991.98px) { 
    .container {
        max-width: 760px;
        padding: 0 10%;
    }

    .navigation {
        display: none;
    }

    .film-title {
        font-size: 18px;
        margin-bottom: 26px;
        line-height: 26px;
    }

    .trailer-poster {
        width: 319px;
    }
    .avatar {
        width: 120px;
        height: 120px;
    }
    
 }


 @media only screen and  (max-width: 767.98px) {
    .film-group {
        flex-wrap: wrap;
    }

    .search {
        margin-left: 20px;
    }
    .trailer {
        /* order: 1; */
        margin-bottom: 30px;
        margin-right: 0;
    }

    .film {
        padding-bottom: 50px;
    }

    .film-info {
        margin-bottom: 50px;
        order: -1;
    }

    .more {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer {
        padding-top: 50px;
    }

    .footer-title {
        margin-bottom: 0px;
    }

    .more-nav-item {
        font-size: 18px;
    }

    .footer-title {
        font-size: 20px;
    }
 }

 @media only screen and (max-width: 650px) {
    /* Header change */
    .search {
        display: none;
    }

    .header {
        padding: 0 10px;
    }

    .header .button-group {
        display: none;
    }

    .brand {
        border: none;
    }

    .mobile-menu {
        display: flex;
    }

} 

 @media only screen and (max-width: 575.98px) { 
    .container {
        width: 90%;
        padding: 0;
        margin: 0 auto;
        /* padding: 0 28px; */
    }



    .trailer,.trailer-poster {
        width: 100%;
    }

    .film-group {
        justify-content: center;
    }
    .avatar {
        width: 60px;
        height: 60px;
    }

    .more-card {
        margin-top: 20px;
    }

    .news-group {
        justify-content: center;
    }
    .news-item {
        flex-basis: 90%;
    }
 }