body {
    box-sizing: border-box;
    font-family: Roboto;
}

.container {
    max-width: 1130px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 104px;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 80px;;
}
.brand {
    width: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #d4d4d4;
}
.brand-logo {
    margin: 0 34px;
    width: 68px;
    height: auto;
}

.search {
    margin-left: 34px;
    margin-right: auto;
    padding-left: 38px;
   align-self: center;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 21px;
   border: none;
   color: #A5A5A5;
   background: url('../img/search-icon.svg') no-repeat left  center;
   /* overflow: hidden; */
}

.search-icon {
    width: 16px;
    height: 16px;
    margin-right: 22px;
}

.search-input {
    border: none;
    height: 21px;
    width: 177px;
}

.navigation {
    display: flex;
    margin-right: 44px;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
}

.navigation-link {
    margin-left: 18px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #363636;
}

.navigation-link:first-of-type {
    margin-left: 0;
}

.button-group {
    display: flex;
    border-left: 1px solid #d4d4d4;
}

.button {
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
    
}

.sign-up {
    padding: 0 34px;
    background: #ffffff;
    color: #5671F6;
}

.login {
    padding: 0 50px;
    background: #5671F6;
    color: #fff;
}

.film {
    margin-bottom: 80px;
}